[Unit]
Description=chatter

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/home/bdeak/chatter
ExecStart=/home/bdeak/chatter/web.py

[Install]
WantedBy=multi-user.target
